<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="postgresql" connectionString="Host=rogue.db.elephantsql.com;Username=ygfxpsvi;Password=Tx1Qk7kFA-ryF-QIldDOeMFUsRNGKwW7;Database=ygfxpsvi;Search Path=mpp;Pooling=true;Minimum Pool Size=0;Maximum Pool Size=5" />
		<add name="logs" connectionString="Host=rogue.db.elephantsql.com;Database=ygfxpsvi;User ID=ygfxpsvi;Password=Tx1Qk7kFA-ryF-QIldDOeMFUsRNGKwW7;Persist Security Info=True;Search Path=logs" />
	</connectionStrings>
</configuration>