<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.4//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-5.4.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="connection.url">jdbc:postgresql://rogue.db.elephantsql.com:5432/ygfxpsvi</property>
        <property name="connection.username">ygfxpsvi</property>
        <property name="connection.password">WCuZM01Z1gO8SKmGUqRcJviIcmP59pwy</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.default_schema">mpp</property>
        <mapping class="DbEntity.DestinationEntity"/>
    </session-factory>
</hibernate-configuration>