<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd hh:mm:ss a } %level %c - %m line =%ex{short.lineNumber} method =%ex{short.methodName} %n %ex{10} %n" />
        </Console>
        <JDBC name="PostgreSQL" tableName="APP_LOGS">
            <ConnectionFactory
                    class="Logger.ConnectionFactory" method="getConnection" />
            <Column name="LOG_ID" pattern="%u" isUnicode="false"/>
            <Column name="ENTRY_DATE" isEventTimestamp="true" />
            <Column name="LOGGER" pattern="%logger" isUnicode="false"/>
            <Column name="LOG_LEVEL" pattern="%level" isUnicode="false"/>
            <Column name="MESSAGE" pattern="%m" isUnicode="false"/>
            <Column name="EXCEPTION" pattern="%ex{10} " isUnicode="false"/>
        </JDBC>
    </Appenders>

    <Loggers>
        <Logger name="mpp.logger" level="error"
                additivity="false">
            <AppenderRef ref="PostgreSQL" />
        </Logger>

        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

</Configuration>